*
!README.md
!cilium-enterprise-values.yaml
!cluster.yaml
!custom-java-b64-pipe-to-shell.yaml
!custom-tp-net-throughput-metrics.yaml
!get-tpr-yaml.sh
!getk8sinfo.sh
!kiall
!kup
!kup.conf.example
!netcheck.yaml
!nodegroup.yaml
!otel-demo-values.yaml
!otel-demo-allow-all.yaml
!otel-demo-l7-visibility.yaml
!shiro-124.yaml
!shiro124
!tetragon.yaml
!tpr-values.yaml
!vulhub-cnp.yaml

