KUP_WORKDIR="/Users/hangwe/Library/CloudStorage/OneDrive-Cisco/dev/isovalent/aws"

CLUSTER_NAME="k8s-demo-0"
CLUSTER_ID="0"
REGION="ap-southeast-1"
K8S_VERSION="1.30"

NG_NAME="ng-eni-0"
NG_INSTANCE_TYPE="t3a.large"
NG_DESIRED_CAPACITY="3"
NG_MIN_SIZE="3"
NG_MAX_SIZE="3"
NG_PRIVATE_NETWORKING="false"

PROM_RELEASE="fsomonitor"
PROM_NAMESPACE="fsomonitor"

OTEL_RELEASE="otel-demo"
OTEL_NAMESPACE="otel-demo"

NETCHECK_NAMESPACE="test"

CILIUM_CHART_VER="1.18.4"
TETRAGON_CHART_VER="1.18.1"
TPR_CHART_VER="1.18.0"

TETRAGON_EXPORT_DIRECTORY="/var/run/cilium/hubble"
TETRAGON_EXPORT_ALLOWLIST='{"event_set":["PROCESS_CONNECT","PROCESS_ACCEPT"]}'
TETRAGON_EXPORT_DENYLIST='{"namespace":["kube-system"]}'
TETRAGON_EXPORT_FILENAME="tetragon.log"
TETRAGON_ALERT_EXPORT_DIRECTORY="/var/run/cilium/hubble/alert"

SPLUNK_INDEXER_HOST="172.31.38.104"
SPLUNK_INDEXER_PORT="9997"

SPLUNK_VPC_ID="vpc-0b79d47b0ee8707f2"
EKS_VPC_ID="vpc-0b79d47b0ee8707f2"

SPLUNK_SG_AUTOCONFIG="false"
SPLUNK_EC2_SG_ID="sg-0123456789abcdef0"

NODE_TIMEZONE="Asia/Singapore"

UF_ENABLE="true"
UF_VERSION="9.4.4"
UF_BUILD="f627d88b766b"
UF_ADMIN_PASS="REPLACE_ME"

UF_TETRAGON_LOG="/var/run/cilium/hubble/tetragon.log"
UF_ALERT_GLOB="/var/run/cilium/hubble/alert/*.log"
UF_SOURCETYPE_MAIN="_json"
UF_SOURCETYPE_ALERT="alert_json"
UF_ALERT_INDEX="alert"

UF_SSM_MAX_CONCURRENCY="50"
UF_SSM_MAX_ERRORS="0"
UF_SSM_REGISTER_TIMEOUT_SEC="900"
UF_SSM_COMMAND_TIMEOUT_SEC="3600"

ISO_REPO_URL="CONTACT CISCO REPRESENTATIVE"

