KUP_WORKDIR="your/work/directory"

CLUSTER_NAME="k8s-demo-0"
CLUSTER_ID="0"
REGION="ap-southeast-1"
K8S_VERSION="1.30"

NG_NAME="ng-eni-0"
NG_INSTANCE_TYPE="t3a.large"  # Optional: m7i-flex.xlarge
NG_DESIRED_CAPACITY="3"
NG_MIN_SIZE="3"
NG_MAX_SIZE="3"
NG_PRIVATE_NETWORKING="false"

PROM_RELEASE="fsomonitor"
PROM_NAMESPACE="fsomonitor"
PROM_GRAFANA_ADMIN_USER="admin"
PROM_GRAFANA_ADMIN_PASSWORD="your_password"

OTEL_RELEASE="otel-demo"
OTEL_NAMESPACE="otel-demo"
OTEL_CHART_VER="0.40.3"

NETCHECK_NAMESPACE="test"
NETCHECK_IMAGE="wbitt/network-multitool:3.22"

CILIUM_CHART_VER="1.18.7"
TETRAGON_CHART_VER="1.18.1"
TPR_CHART_VER="1.18.0"

EGRESS_GW_ENABLE="true"
EGRESS_GW_HA_ENABLE="true"
EGRESS_GW_NAMESPACE="starwar"
EGRESS_GW_POLICY_NAME="outpost-ha"
EGRESS_GW_DESTINATION_CIDRS="172.31.38.183/32"
EGRESS_GW_EGRESS_CIDRS=""
EGRESS_GW_AZ_AFFINITY="localOnlyFirst"
EGRESS_GW_NODE_LABEL_KEY="egress-gw"
EGRESS_GW_NODE_LABEL_VALUE="true"
EGRESS_GW_NODE_NAMES=""
EGRESS_GW_NETPERF_IMAGE="docker.io/tgraf/netperf:latest"
EGRESS_GW_ECHO_SERVER_PORT="18080"
EGRESS_GW_REMOTE_OUTPOST_AUTOCONFIG="true"
EGRESS_GW_REMOTE_OUTPOST_INSTANCE_NAME="test-server-01"
EGRESS_GW_REMOTE_OUTPOST_INSTANCE_ID=""
EGRESS_GW_REMOTE_OUTPOST_CONTAINER_NAME="remote-outpost"
EGRESS_GW_REMOTE_OUTPOST_IMAGE="quay.io/isovalent-dev/egressgw-whatismyip:latest"
EGRESS_GW_REMOTE_OUTPOST_HOST_PORT="18080"
EGRESS_GW_REMOTE_OUTPOST_CONTAINER_PORT="8000"
EGRESS_GW_REMOTE_OUTPOST_SSM_TIMEOUT_SEC="300"
EGRESS_GW_HA_SOCKET_TERMINATION_ENABLE="false"
EGRESS_GW_HA_ICMP_HEALTH_PROBE_ENABLE="true"
EGRESS_GW_HA_ICMP_HEALTH_PROBE_INTERVAL="100ms"
EGRESS_GW_HA_ICMP_HEALTH_PROBE_FAILURE_THRESHOLD="3"

TETRAGON_EXPORT_DIRECTORY="/var/run/cilium/hubble"
TETRAGON_EXPORT_ALLOWLIST='{"event_set":["PROCESS_CONNECT","PROCESS_ACCEPT"]}'
TETRAGON_EXPORT_DENYLIST='{"namespace":["kube-system"]}'
TETRAGON_EXPORT_FILENAME="tetragon.log"
TETRAGON_ALERT_EXPORT_DIRECTORY="/var/run/cilium/hubble/alert"
TETRAGON_CGROUP_RATE="100,1s"

SPLUNK_INDEXER_HOST="172.31.38.104"
SPLUNK_INDEXER_PORT="9997"

SPLUNK_VPC_ID="vpc-0b79d47b0ee8707f2"
EKS_VPC_ID="vpc-0b79d47b0ee8707f2"

SPLUNK_SG_AUTOCONFIG="false"
SPLUNK_EC2_SG_ID="sg-0123456789abcdef0"

NODE_TIMEZONE="Asia/Singapore"

UF_ENABLE="true"
UF_VERSION="9.4.4"
UF_BUILD="f627d88b766b"
UF_ADMIN_PASS="REPLACE_ME"

UF_TETRAGON_LOG="/var/run/cilium/hubble/tetragon.log"
UF_ALERT_GLOB="/var/run/cilium/hubble/alert/*.log"
UF_SOURCETYPE_MAIN="_json"
UF_SOURCETYPE_ALERT="alert_json"
UF_ALERT_INDEX="alert"

UF_SSM_MAX_CONCURRENCY="50"
UF_SSM_MAX_ERRORS="0"
UF_SSM_REGISTER_TIMEOUT_SEC="900"
UF_SSM_COMMAND_TIMEOUT_SEC="3600"

ISO_REPO_URL="CONTACT.CISCO.REPRESENTATIVE"
